<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords" content="activist, poluarea aerului, reciclare, recycle, schimbări climatice, dispariție, eco, carbon, combustibili, efect de seră, plastic, reutilizabil">
    <meta name="description" content="Activism pentru mediu">
    <link rel="stylesheet" href="/resurse/css/nav.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/general.css" type="text/css" />


    <title>Eroare 403</title>
    
    </head>

<body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Eroare 403</h2>
            <p>Echipa noastra isi cere scuze, insa pagina cautata nu poate fi accesata!</p>
            <img src = "../../resurse/imagini/403_error.jpg" alt="text">
        </section>
    </main>

    <%- include("../fragmente/footer") %>
</body>
</html>