<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords" content="activist, poluarea aerului, reciclare, recycle, schimbări climatice, dispariție, eco, carbon, combustibili, efect de seră, plastic, reutilizabil">
    <meta name="description" content="Activism pentru mediu">
    <title>Eroare 404</title>
    <%- include("../fragmente/head") %>
    </head>

<body>
    <%- include("../fragmente/header") %>
    
    <main>
        <section>
            <h3>Eroare 404</h3>
            <p>Echipa noastra isi cere scuze, insa pagina cautata nu a fost gasita!</p>
            <img src = "/resurse/imagini/error_404.jpg" alt="text">
        </section>
    </main>

    <%- include("../fragmente/footer") %>
</body>
</html>