<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords" content="activist, poluarea aerului, reciclare, recycle, schimbări climatice, dispariție, eco, carbon, combustibili, efect de seră, plastic, reutilizabil">
    <meta name="description" content="Activism pentru mediu">
    <title>Fridays For Future Ploiesti</title>
    
    <%- include("../fragmente/head") %> <!--Minusul de dupa procent e pt afisare-->
    <link rel="stylesheet" href="/resurse/css/galerie-animata.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/video.css" type="text/css" />

</head>

<body>
    <%- include("../fragmente/header") %>
    <main>

        <div class ="grid-container">
            <div class = "zona1">
                <article id = "prezentare">
                    <h2>Mișcare la nivel internațional</h2>
                    <div><i class="fa fa-spinner fa-spin"></i>
                        Reprezentată de tineri activiști, mișcarea are ca scop atragerea atenției asupra schimbărilor climatice și combaterea lor. 
                        Înființată în 2018 de o tânără elevă din Suedia, aceasta a prins rapid amploare pe tot globul și a produs deja schimbări în bine. Motto: We strike until you act!
                   
    <section id="intrebari">
        <h3>Intrebări frecvente:</h2>
        <details><summary>Cum a început această mișcare?</summary>
        <p> Greta Thunberg and other young activists sat in front of the Swedish parliament every schoolday for three weeks, to protest against the lack of action on the climate crisis. 
            She posted what she was doing on Instagram and Twitter and it soon went viral.</p>
        </details>
        <details><summary>Cine poate fi activist?</summary>
        <p> Orice tânăr interesat de protejarea mediului înconjurător.</p>
        </details>
    </section>   
</main>

    <%- include("../fragmente/footer") %>
</body>
</html>
