<footer>
    <br><a href="#" title="text explicativ" id="link-top"><div class="arrow" >&#129081;</div></a>
    
    <address>
        Pentru mai multe detalii: 
        <a href="tel:0712345678">sună aici</a>
          sau 
        <a href="mailto:andreea-zavoiu@example.com">trimite un mail</a>
        <br>Adresă: 
        <a href="#">Ploiești, România</a>
    </address>

    <time datetime="2021-03-01">Data creării site-ului: 01-03-2021</time>
    <p><small>Copyright &#169; 2021 Andreea Zavoiu</small></p>
</footer>


<div id="banner">
  <p><b>Disclaimer</b> <br>
  Acesta este un proiect scolar!</p>
</div>