<header>
    <h1><span>Fridays For Future </span>Ploiești</h1>

    <button id="schimbare-tema"> 
        <span class="fas fa-sun" id="light"></span>
        <span class="fas fa-moon" id="dark"></span>
    </button>
</header>

<nav id="navul">
    <label id="inlocuitor" for="ch-menu">
        <img src="/resurse/imagini/meniu_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class = "meniu">
        <li><a href="index"><div id="acasa"><i class="fa fa-home"></i><b>Acasă</b></div></a>
            <ul>
                <li><a href="#join"><span class="sageata_meniu">&#8594;</span></i>Alătură-te!</a></li>
                <li><a href="#donate"><span class="sageata_meniu">&#8594;</span>Donează!</a></li>
                <li><a href="#follow"><span class="sageata_meniu">&#8594;</span>Urmărește-ne!</a></li>
            </ul>
        </li>
        <li id="mjl"><a href="/istoric">Despre noi</a></li>
        <li><div>Articole</div>
            <ul>
                <li><a href="#"><span class="sageata_meniu">&#8594;</span>Poluare</a></li>
                <li><a href="#"><span class="sageata_meniu">&#8594;</span>Reciclare</a></li>
                <li><a href="#"><span class="sageata_meniu">&#8594;</span>Dispariții</a></li>
            </ul>
        </li>
        <li><div><a href="/produse">Produse</a></div>
            <ul>
                <li><a href="/produse?proprietate=reciclabil"><span class="sageata_meniu">&#8594;</span>Reciclabile</a></li>
                <li><a href="/produse?proprietate=nereciclabil"><span class="sageata_meniu">&#8594;</span>Nereciclabile</a></li>
            </ul>
        </li>
    </ul>
</nav>
